* {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p,
span {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
}

input,
textarea {
    width: 100%;
    padding: 12px 20px;
    outline: none;
    resize: none;
    border: 1px solid #E4E7E9;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 300;
}

input::placeholder,
textarea::placeholder {
    color: #a6a6ac;
}

button {
    border: none;
}

/* :root {
    --colorPrimary: #292B75;
    --paraColor: #5A5A5A;
    --colorBlack: #121212;
    --colorWhite: #ffffff;
    --paraFont: 'Roboto', sans-serif;
    --headingFont: 'Source Sans Pro', sans-serif;

} */